body {
    background-color: rgb(11, 11, 132);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: white;
}

.input {
    width: 450px;
    height: 50px;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    border-width:0px;
border:none;
    
}

.boton-agregar{
    opacity: 0.9;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
    opacity: 0.9;
    border-width:0px;
border:none;
    
}

.boton-editar {
    color: aqua;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 150%;
    
}

.item-input {
    
    size:40 ;
    width:340px; 
    height:40px !important
  
 
  
    
}

.boton-remover {
    background-color: red;
    padding: 10px 10px ;
    color: white;
    font-size: 140%;
    border-radius: 10px;
}